
MainFrame{
    background: #F3F3F3;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

QLabel#timeLabel {font-family: "Ubuntu Mono";}

QLabel[ColorInterval="0"]{ color: #00C010; }
QLabel[ColorInterval="1"]{ color: #26C010; }
QLabel[ColorInterval="2"]{ color: #4CC010; }
QLabel[ColorInterval="3"]{ color: #72C010; }
QLabel[ColorInterval="4"]{ color: #98C010; }
QLabel[ColorInterval="5"]{ color: #C09810; }
QLabel[ColorInterval="6"]{ color: #C07210; }
QLabel[ColorInterval="7"]{ color: #C04C10; }
QLabel[ColorInterval="8"]{ color: #C02610; }
QLabel[ColorInterval="9"]{ color: #C00010; }

QLabel[FontSize="0"]{ font-size: 40pt; }
QLabel[FontSize="1"]{ font-size: 60pt; }
QLabel[FontSize="2"]{ font-size: 80pt; }
QLabel[FontSize="3"]{ font-size: 100pt; }
QLabel[FontSize="4"]{ font-size: 120pt; }
QLabel[FontSize="5"]{ font-size: 140pt; }
QLabel[FontSize="6"]{ font-size: 160pt; }
QLabel[FontSize="7"]{ font-size: 180pt; }
QLabel[FontSize="8"]{ font-size: 200pt; }

QPushButton#closeButton{
    background: #DDDDDD;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
