
MainFrame{
/*    background: qconicalgradient(cx:0.5, cy:0.5, angle: 45,
                                 stop:0 rgba(180, 180, 180, 150),
                                 stop:0.25 rgba(20, 20, 20, 80),
                                 stop:0.5 rgba(20, 20, 20, 120),
                                 stop:0.75 rgba(20, 20, 20, 80),
                                 stop:1 rgba(180, 180, 180, 150));*/
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(20, 20, 20, 100), stop: 0.4 rgba(20, 20, 20, 40), stop:1 rgba(180, 180, 180, 200));
    border: 0px;
    border-radius: 5px;
}

QLabel#timeLabel {font-family: "Ubuntu Mono";}

QLabel[ColorInterval="0"]{ color: #00E800; }
QLabel[ColorInterval="1"]{ color: #23E800; }
QLabel[ColorInterval="2"]{ color: #63E800; }
QLabel[ColorInterval="3"]{ color: #96E800; }
QLabel[ColorInterval="4"]{ color: #D7E800; }
QLabel[ColorInterval="5"]{ color: #F3FC49; }
QLabel[ColorInterval="6"]{ color: #F3D74D; }
QLabel[ColorInterval="7"]{ color: #F3B44F; }
QLabel[ColorInterval="8"]{ color: #F37A51; }
QLabel[ColorInterval="9"]{ color: #E80000; }

QLabel[FontSize="0"]{ font-size: 40pt; }
QLabel[FontSize="1"]{ font-size: 60pt; }
QLabel[FontSize="2"]{ font-size: 80pt; }
QLabel[FontSize="3"]{ font-size: 100pt; }
QLabel[FontSize="4"]{ font-size: 120pt; }
QLabel[FontSize="5"]{ font-size: 140pt; }
QLabel[FontSize="6"]{ font-size: 160pt; }
QLabel[FontSize="7"]{ font-size: 180pt; }
QLabel[FontSize="8"]{ font-size: 200pt; }

